body{
    background-color: cornflowerblue;
    background-image: url(../image/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
h1{
    color: black;
    background-color: darkcyan;
    text-align: center;
    font-size:50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:bold;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
/* Styling Grid */
.gridmain{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height:400px;
    border-radius: 10px;
    text-align: center;
}
.griditem1, .griditem2{
    display: block;
    text-align: center;
    margin-left: -50px;
    margin-bottom: 10px;
}

img{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align:left;
    font-size: 20px;
    font-weight:bold;
    margin-left: 100px;
    width: 300px;
    height: 200px;
}
a>button,a>a:link{
    display: inline-block;
    border-radius: 10px;
    color: white;
    background-color: darkcyan;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height:50px ; 
    margin-right: 300px;
    margin-left: 350px;
}

a>button:hover,a>a:link:hover{
    background-color: cornflowerblue;
}
/* Styling footer */
footer {
    text-align: center;
    font-size: 20px;
    font-weight:bold solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    width: 100%;
    height: 100px;
    background-color: rgb(3, 39, 39);
    color: white;
    
} 